<div class="row" id="experiencia">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    
        <ul>
            <li>
                <h2>Multipasta</h2> <h3>(Año)</h3>
            </li>
		    <p id=""> Atención al cliente de forma personal y telefónicamente, cadetería y delivery. </p>
        </ul>
        <ul>
            <li>
                <h2>FullDance</h2> <h3>(Año)</h3>
            </li>
		    <p id="">Atención al cliente de forma personal y telefónicamente, verificación de documentación, encargada de caja.</p>
        </ul>
        <ul>
            <li>
                <h2>Estefano</h2> <h3>(Año)</h3>
            </li>
		    <p id="">Atención al cliente de forma personal y telefónicamente, encargada de caja. </p>
        </ul>
    </div>
</div>
