<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"> 
        <img src="../../../assets/foto_perfil.jpg" class="img-fluid" id="foto_perfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"  id="nombre">
        <p >Camila Altamirano </p> 
        <p >Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" id="sobre_mi">
        <span >
            <h1>Acerca de mí</h1>
            <p class="" >Estoy buscando mi primer empleo en tecnología con el objetivo
                de perfeccionarme y adquirir conocimientos a partir de nuevas
                experiencias laborales. Me gustaría poder entrar a formar parte de una empresa en la cual pueda aplicar todos mis conocimientos y, al mismo tiempo, que me permita desarrollarme profesionalmente.
                Cuento con los siguientes conocimientos:
                Inglés avanzado. 
                Herramientas de Microsoft manejo intermedio.
                Conocimientos de base de datos en MySQL y SQL.
                Programación web HTML, CSS y Python.</p>
        </span>
    </div>
</div>