div{
    /*background-color: rgb(204, 146, 192);*/
    text-align: center;
    color: rgb(54, 56, 56);
}

/*foto de perfil*/
@media (min-width: 576px){
    #foto_perfil{
        position: absolute;
        width: 10%;
        height: 20%;
        border-radius: 70%;
        left:9%;
        top:470px;
    }
    /*nombre*/
    #nombre{
        font-weight: bold;
        margin-top: 6%;
        margin-left: -10%;
    }
}    
@media (max-width: 576px){
    #foto_perfil{
        position: absolute;
        width: 20%;
        height: 18%;
        border-radius: 70%;
        left: 40%;
        top:550px;
        }
    /*nombre*/
    #nombre{
        font-weight: bold;
        margin-top: 16%;
        margin-left: 1%;
    }
}
  