<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
    
        <ul>
            <li>
                <h2>Instituto de Formación Técnica Superior N 21 </h2> <h3>(2021 | )</h3>
            </li>
		    <p id=""> Atención al cliente de forma personal y telefónicamente, cadetería y delivery. </p>
        </ul>
        <ul>
            <li>
                <h2>Programa Codo a Codo</h2> <h3>(Ago-Dic 2021)</h3>
            </li>
		    <p id="">Curso FullStack Python.</p>
        </ul>
        <ul>
            <li>
                <h2>Argentina Programa</h2> <h3>(Ago-Dic 2021)</h3>
            </li>
		    <p id="">Curso FullStack. </p>
        </ul>
    </div>
</div>
